# Listado de Ejercicios a realizar

## 1. Sin usar el computador, evalúe las siguientes expresiones, y para cada una de ellas indique el resultado y su tipo (si la expresión es válida) o qué error ocurre:

### Ejemplo
- 2 + 3      # Respuesta: tipo int, valor 5
- 4 / 0      # Respuesta: error de división por cero

### Ejercicio

- 5 + 3 * 4: 17
- '5' + '3' * 2
- 2 ** 11 == 1000 or 2 ** 9 == 100
- int("cincuenta")
- 16/16 + 384/24
- 600 + 18%
- 0 < (4096 % 10) < 6
- 'Max' + 'Min'
- ABC() * DEF()
- float(-int("7")+int('90))
- abs(len('seis') - len('tres'))
- bool(1210) or bool(-3465)
- float(str(int('8' * 3) / 3)[3])

#Respuesta

# 2. Imprima su nombre y fecha
- Imprime: Jorge Alvarez - 20-04-2020

In [ ]:
# Respuesta:
print("tomas - 07/06/2003")

# 3. Solicite un nombre y que el programa salude
### Ejemplo:
- ingreso: 'Andres'
- imprime: 'Hola Andres'

In [ ]:
x=input("Buenas, ¿Cómo es tu nombre? ")
print(f"Hola {x} ¿En que te puedo ayudar?")

# 4. Solicite el radio (un numero) de un círculo e imprima como salida su diámetro, perímetro y su área
### Ejemplo
- ingreso: 3
- imprime - Diametro: 6
- imprime - Perimetro: 18.84
- imprime - Area: 28.27

In [ ]:
R=float(input("Ingrese el radio del circulo "))
D=R*2
P=3.1416*D
A=3.1416*R**2
print(f"Diametro: {D}")
print(f"Perimetro: {P}")
print(f"Area: {A}")

# 5. Solicite 6 notas y calcule el promedio de ellas
### Ejemplo
- ingreso: 1 2 3 4 5 6
- imprime: 3.5

In [ ]:
# Respuesta:
n1=float(input("Ingresa nota 1 del estudiante "))
n2=float(input("Ingresa nota 2 del estudiante "))
n3=float(input("Ingresa nota 3 del estudiante "))
n4=float(input("Ingresa nota 4 del estudiante "))
n5=float(input("Ingresa nota 5 del estudiante "))
n6=float(input("Ingresa nota 6 del estudiante "))

totaln=n1+n2+n3+n4+n5+n6
prom=totaln/6
print(f"El promedio es: {prom}")

# 6. Solicite un valor e imprima que tipo de dato es
### Ejemplo
- ingreso: 'A'
- imprime: str
- ingreso: 1
- imprime: int

In [ ]:
# Respuesta:

# 7. Escriba en código la siguiente ecuación
$$ \left(\frac{5+3}{3-2}\right)^2$$

In [1]:
# Respuesta
y=(5+3)/(3-2)
x=y**2
print(x)

64.0

# 8. Solicite número de horas trabajadas y coste por horas e imprima el valor
### Ejemplo:
- Ingreso: 4 (horas)
- ingreso: 80.000 (precio x hora)
- imprime: 320.000

In [3]:
# Respuesta
x = float(input("Ingrese el tiempo de horas trabajadas:"))
y = int(input("Introduce el valor que se aplica a cada hora: "))

total=x*y
print(f"El valor total que se aplica por las horas trabajadas es de: {total} ")

Ingrese el tiempo de horas trabajadas:8
Introduce el valor que se aplica a cada hora: 20000
El valor total que se aplica por las horas trabajadas es de: 160000.0

# 9. Solicite la temperatura en grados Celsius e imprima en grados Kelvin y Fahrenheit
### Ejemplo:
- ingreso: 38 (°C)
- imprime: 311.15 °K
- imprime: 100.4 °F

In [4]:
# Respuesta
c=float(input("Ingresa la temperatura en grados C°: "))
k=c+273.15
f=c+32*(9/5)

if k < 0:
  print("La temperatura en kelvin no puede ser menor a 0")
else:
  print(f"La temperatura en kelvin es: {k}")


print(f"La temperatura en fahrenheit es: {f}")

Ingresa la temperatura en grados C°: 25
La temperatura en kelvin es: 298.15
La temperatura en fahrenheit es: 82.6

# 10. Solicite 2 numeros e imprima si el segundo es mayor  
### Ejemplo:
- ingreso: 2
- ingreso: 3
- impmrime: True

In [ ]:
# Respuesta
n1=float(int(input("Ingrese el 1° numero: ")))
n2=float(int(input("Ingrese el 2° numero: ")))

if n2<n1:
  print("True")
else:
  print("False")

# 11. Solicite 2 numeros e imprima si el segundo es menor  
### Ejemplo:
- ingreso: 2
- ingreso: 3
- impmrime: False

In [ ]:
# Respuesta

# 12. Solicite una distancia (metros) y la velocidad (metros/segundos) e imprima el tiempo que se demora el recorrido
### Ejemplo:
- ingreso: 150 (metros)
- ingreso: 15 (metros/segundo)
- Imprime: 10 segundos

In [ ]:
# Respuesta

# 13. Solicite al usuario tres valores y escriba en código la siguiente ecuación
$$ \left(\frac{a+b}{c}\right) ^2 + \left(\frac{a-b}{c}\right) ^ 2 $$

In [ ]:
# Respuesta

# 14. Investigue como se saca la raíz cuadrada de un número en Python y escriba la solución en el cuadro de abajo

In [ ]:
# Respuesta

# 15.  Con lo anterior solicite 2 numeros (Cateto a y Cateto b) e imprima la hipotenusa.
### Ejemplo:
- ingreso: 3 (Cateto a)
- ingreso: 4 (Cateto b)
- imprime: Hipotenusa = 5

In [ ]:
# Respuesta