#Breve definición de listas

In [1]:
# Listas iniciales
lista1 = [7,6,3,28,6,79]  # fecha de cumpleaños propia+familiar
lista2 = ["tomas", "marin", "bustamante", "lina", "eucaris", "bustamante", "monsalve"]

# 1. append(): Agregar una fecha de nacimiento al final (ejemplo: 28 de junio)
lista1.append(28)  # Agregando el día de nacimiento
print("Después de append:", lista1)

# 2. extend(): Agregar más nombres (ejemplo: "tomas" y "Lina")
lista2.extend(["tomas", "Lina"])
print("Después de extend:", lista2)

# 3. insert(): Insertar un nuevo nombre en una posición específica
lista2.insert(2, "tomas")
print("Después de insert:", lista2)

# 4. remove(): Eliminar una ocurrencia de un nombre
lista2.remove("bustamante")
print("Después de remove:", lista2)

# 5. pop(): Eliminar y devolver el último elemento
ultimo = lista2.pop()
print("Elemento eliminado con pop:", ultimo)
print("Después de pop:", lista2)

# 6. index(): Obtener el índice de un nombre
indice = lista2.index("marin")
print("Índice de 'marin':", indice)

# 7. count(): Contar cuántas veces aparece un nombre
cuenta = lista2.count("bustamante")
print("Número de veces que aparece 'bustamante':", cuenta)

# 8. sort(): Ordenar los nombres alfabéticamente
lista2.sort()
print("Después de sort:", lista2)

# 9. reverse(): Invertir el orden de los nombres
lista2.reverse()
print("Después de reverse:", lista2)

# 10. clear(): Eliminar todos los elementos de la lista de nombres
lista2.clear()
print("Después de clear:", lista2)

SyntaxError: invalid syntax (<ipython-input-1-ff5cf4a6e9b9>, line 1)

#breve definición de diccionario

In [3]:
dict1={"nombre":"tomas","apellido1":"marin","apellido2":"bustamante"}
dict2={"dia":7,"mes":6,"año":2003}

#Ejercicios

##Ejercicio 1
Dada la lista: list1 = [100, 200, 300, 400, 500], se desea que imprima [500, 400, 300, 200, 100]

In [4]:
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

##Ejercicio 2
Escriba un programa que unas dos listas, de tal forma que
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", “quis"]
da como resultado ['Mi', 'nombre', 'es', 'equis'] (reemplazar el nombre por el del estudiante)

In [5]:
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", "quis"]
resultado = [''.join(x) for x in zip(lista1, lista2)]
print(resultado)

['Mi', 'nombre', 'es', 'equis']

##Ejercicio 3
Desarrolle un programa que calcule el doble de cada uno de los elementos de una lista. Ejemplo: si la lista es [1, 2, 3, 4, 5, 6, 7] da como resultado [1, 4, 9, 16, 25, 36, 49].

In [7]:
lista = [1, 2, 3, 4, 5, 6, 7]
resultado = [x**2 for x in lista]
print(resultado)

[1, 4, 9, 16, 25, 36, 49]

##Ejecicio 4
Dadas dos listas
a. lista1 = ["Hola ", "toma "]
b. lista2 = ["Querido", "Señor"]
desarrollar un programe que de como resultado [“Hola Querido”, “Hola Señor”, 'toma Querido”, 'toma Señor']

In [8]:
lista1 = ["Hola ", "toma "]
lista2 = ["Querido", "Señor"]
resultado = [f"{a}{b}" for a in lista1 for b in lista2]
print(resultado)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

##Ejercicio 5
Dadas dos listas
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
se desea construir un programa que imprima
10 400
20 300
30 200
40 100

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for a, b in zip(list1, reversed(list2)):
    print(a, b)

10 400
20 300
30 200
40 100

##Ejercicio 6
Dada la lista ["Mike", "", "Emma", "Kelly", "", "Brad"] se desea un programa que elimine el elemento vacío

In [10]:
lista = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resultado = [x for x in lista if x]
print(resultado)

['Mike', 'Emma', 'Kelly', 'Brad']

##Ejercicio 7
Dada la lista [10, 20, [300, 400, [5000, 6000], 500], 30, 40] se desea un programa que genere el siguiente resultado: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [11]:
lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

##Ejercicio 8
Dada dos listas
lista1= ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista 2= ["h", "i", "j"]
se desea un programa que imprima lo siguiente:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [12]:
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]
lista1[2][1][2].extend(lista2)
print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

##Ejercicio 9
Dada la lista [5, 10, 15, 20, 25, 50, 20] se desea un programa que reemplace el número de la mitad por 200.

In [13]:
lista = [5, 10, 15, 20, 25, 50, 20]
mitad = len(lista) // 2
lista[mitad] = 200
print(lista)

[5, 10, 15, 200, 25, 50, 20]

##Ejercicio 10
Construya un programa que elimine de una lista todos los duplicados. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprime [5, 15, 25, 50]

In [14]:
lista = [5, 20, 15, 20, 25, 50, 20]
resultado = list(set(lista))
print(resultado)

[5, 15, 50, 20, 25]

##Ejercicio 11
Construya una programa que cuente cuántas veces se repitan los elementos de una lista. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprima:
5 = 1
20 = 3
15 = 1
25= 1
50 = 1

In [15]:
from collections import Counter

lista = [5, 20, 15, 20, 25, 50, 20]
contador = Counter(lista)
for elemento, cantidad in contador.items():
    print(f"{elemento} = {cantidad}")

5 = 1
20 = 3
15 = 1
25 = 1
50 = 1

##Ejercicio 12
Construya un programa que ordene los elementos de una lista de menor a mayor o viceversa.

In [16]:
lista = [5, 2, 9, 1, 5, 6]
lista.sort()  # Ordenar de menor a mayor
print(lista)  # [1, 2, 5, 5, 6, 9]

# Para ordenar de mayor a menor
lista.sort(reverse=True)
print(lista)  # [9, 6, 5, 5, 2, 1]

[1, 2, 5, 5, 6, 9]
[9, 6, 5, 5, 2, 1]

##Ejercicio 13
Escriba un programa en Python que le permita al usuario obtener de una lista:
a. La suma de todos sus elementos
b. La multiplicación de todos sus elementos
c. El número mayor
d. El número menor

In [17]:
lista = [1, 2, 3, 4, 5]

suma = sum(lista)
multiplicacion = 1
for num in lista:
    multiplicacion *= num
mayor = max(lista)
menor = min(lista)

print("Suma:", suma)
print("Multiplicación:", multiplicacion)
print("Mayor:", mayor)
print("Menor:", menor)

Suma: 15
Multiplicación: 120
Mayor: 5
Menor: 1

##Ejercicio 14
Escriba un programa que calcule la diferencia entre dos listas.

In [18]:
lista1 = [1, 2, 3, 4]
lista2 = [4, 3, 2, 1]
diferencia = [a - b for a, b in zip(lista1, lista2)]
print(diferencia)  # [-3, -1, 1, 3]

[-3, -1, 1, 3]

##Ejercicio 15
Escriba un programa que permita identificar el segundo y tercer elemento menor de una lista de 10 elementos.

In [20]:
lista = [9, 1, 3, 7, 5, 2, 8, 6, 4, 0]
lista_unica = list(set(lista))
lista_unica.sort()
segundo_menor = lista_unica[1]
tercer_menor = lista_unica[2]
print("Segundo menor:", segundo_menor)
print("Tercer menor:", tercer_menor)

Segundo menor: 1
Tercer menor: 2

##Ejercicio 16
Crear un programa que cree múltiples listas de una lista principal, de tal forma que:
a. La primera lista es la suma del segundo elemento con el primero.
b. La segunda lista es la resta del segundo elemento con el primero. Si el
número da negativo, se reemplaza con 0.
c. La tercera lista multiplica cada uno de los elementos *2
d. La cuarta lista eleva cada uno de los elementos al cuadrado.
Ejemplo: Sea la lista [5, 20, 15, 20, 25, 50, 20] el programa imprime:
Lista1= [25,35,35,45,75,70]
Lista2=[0,0,5,5,25,0]
Lista3=[10,40,30,40,50,100,40]
Lista4=[25,400,225,400,625,2500,400]

In [19]:
lista = [5, 20, 15, 20, 25, 50, 20]

# Lista 1: Suma
lista1 = [x + lista[0] for x in lista]
# Lista 2: Resta (con 0 si es negativo)
lista2 = [max(0, x - lista[0]) for x in lista]
# Lista 3: Multiplicación
lista3 = [x * 2 for x in lista]
# Lista 4: Cuadrado
lista4 = [x ** 2 for x in lista]

print("Lista1:", lista1)
print("Lista2:", lista2)
print("Lista3:", lista3)
print("Lista4:", lista4)

Lista1: [10, 25, 20, 25, 30, 55, 25]
Lista2: [0, 15, 10, 15, 20, 45, 15]
Lista3: [10, 40, 30, 40, 50, 100, 40]
Lista4: [25, 400, 225, 400, 625, 2500, 400]

##Ejercicio 17
Escriba un programa que separe los elementos de una lista en el n-ésimo término.
Ejemplo: sea la lista ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] y si n=5 la nueva lista será [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [21]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 5
resultado = [[] for _ in range(n)]
for i, elemento in enumerate(lista):
    resultado[i % n].append(elemento)
print(resultado)

[['a', 'f', 'k'], ['b', 'g', 'l'], ['c', 'h', 'm'], ['d', 'i', 'n'], ['e', 'j']]

##Ejercicio 18
Escriba un programa que mueva todos los ceros al final de una lista. Ejemplo, si se tiene la lista [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1] el resultado esperado es: [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
lista = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
resultado = [x for x in lista if x != 0] + [0] * lista.count(0)
print(resultado)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]